<h1>This is tenant component</h1>
<div>
    <form #f="ngForm">
      <select name="state" [(ngModel)]="form.value.state" (change)="handleStateChange()">
        <option value="null" disabled="true">Choose a state</option>
        <option *ngFor="let state of states" [ngValue]="state">
          {{ state.abbrev }}
        </option>
      </select>
    </form>
  
    <p>Form value: {{ f.value | json }}</p>
    <button>Fetch data</button>
    <button *ngIf="form.value.state" (click)="continue()">Continue</button>
  </div>